<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../normalize/normalize.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISCORD|Seu Lugar para Papear e Ficar De Boa</title>
</head>
<header>
    <nav>
        <div class="top-left">
        <h1>
            DISCORD
        </h1>
    </div>
    <div class="mid-header">
        <a href="">Download</a>   
        <a href="">Nitro</a>   
        <a href="">Discover</a>   
        <a href="">Safety</a>   
        <a href="">Support</a>   
        <a href="">Blog</a>   
        <a href="">Careers</a>   
    </div>
    <div class="top-right">
        <button type="button">
            <a href="">
                Open Discord
            </a>
        </button>
    </div>
    </nav>
</header>
<body>
    
</body>
</html>